<nav >
	<ul class="nav-list">
      <li class="nav-item"
          [routerLink]="['/']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}">
        <span class="nav-item-img" ></span>
      </li>
		  <li class="nav-item"
          [routerLink]="['/']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}">
			  <span  class="nav-item-img projects-img"></span>
		  </li>
      <li class="nav-item"
          [routerLink]="['/settings']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}">
        <span class="nav-item-img settings-img"></span>
      </li>
      <li class="nav-item"
          [routerLink]="['/time']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}">
        <span class="nav-item-img clock-img"></span>
      </li>
      <li class="nav-item"
          [routerLink]="['/members']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}">
        <span class="nav-item-img member-img"></span>
      </li>
      <li class="nav-item"
          [routerLink]="['/notifications']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}">
        <span class="nav-item-img notifications-img"></span>
      </li>
	</ul>
</nav>

